<div class="container">
    <h1>Inspiration Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>Get inspired by our qoutes and you can also save your quotes 
                for refference
            </p>
            <div *ngFor='let quote of quotes; let i = index'>
            <li class="card card-body bg-info">{{quote.name}}</li>
            <button (click)= 'toggleDetails (i)'>Quote..Description</button>
            <app-quote-details *ngIf='quote.showDescription' [quote]='quote'></app-quote-details>
            </div>
        </div>
    </div>
</div>
